body {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

#clock {
  margin-top: 150px;
  font-size: 35px;
  position: absolute;
  left: 70px;
  top: -100px;
}

.hi {
  margin-top: 300px;
  margin-bottom: 100px;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  border: none;
}

.bnt {
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 10px;
}

.hidden {
  display: none;
}

img {
  margin-top: 30px;
}

#greeting {
  margin-top: 270px;
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.todo-nemo {
  margin-top: 10px;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

#todo-list {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#weather {
  font-size: 22px;
  position: absolute;
  top: 100px;
  left: 70px;
}

#quote {
  margin-top: 100px;
  font-size: 17px;
  font-style: oblique;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
